@define-color code_bg_color #e0e0e0;

@define-color link_fg_color #b1b1b1;

@define-color preview_bg_color #f5f5f5;


/* Main window and text colors */

.apostrophe-editor {
  font-family: 'Fira Mono', monospace;
  font-size: 1.091em;
}

.apostrophe-editor.size14 {
  font-size: 0.955em;
}
.apostrophe-editor.size15 {
  font-size: 1.023em;
}
.apostrophe-editor.size16 {
  font-size: 1.091em;
}
.apostrophe-editor.size17 {
  font-size: 1.159em;
}
.apostrophe-editor.size18 {
  font-size: 1.227em;
}
.apostrophe-editor.size20 {
  font-size: 1.364em;
}
.apostrophe-editor.size22 {
  font-size: 1.5em;
}
.apostrophe-editor.size24 {
  font-size: 1.636em;
}

.bottombar_background box{
  transition: 250ms ease-out;
  background-color: alpha(@view_bg_color, 0);
}

.bottombar_background.shown box{
  background-color: alpha(@view_bg_color, 0.95);
}

.stats-button {
  background: @view_bg_color;
}

.bottombar button {
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: .7;
}

.bottombar button:hover {
  opacity: 1;
}

.bottombar .show_extra_controls_button image{
  transition: 250ms ease-in;
  transform: scale(1,1);
}

.bottombar .show_extra_controls_button image{
  transition: 250ms ease-in;
  transform: scale(1,1);
}

.bottombar .show_extra_controls_button.active image{
  transform: scale(-1,1);
}

.quick-preview-popup .footnote,
.quick-preview-popup .formula
{
  margin: 18px;
}

.lexikon {
  font-family: serif;
  font-size: 12px;
  margin: 18px;
}

.lexikon .header {
  font-size: 14px;
  padding-top: 18px;
  padding-bottom: 6px;
  font-weight: bold;
}

.lexikon .header.first {
  padding-top: 0px;
}

.lexikon .number {
  padding-left: 18px;
  padding-right: 6px;
}

.quick-preview-popup {
  padding: 6px 12px 6px 12px;
}


.quick-preview-popup > contents {
  padding: 0;
}

/* theme selector */

.themeswitcher {
  margin: 9px;
}
.themeswitcher checkbutton {
    padding: 0;
    min-height: 44px;
    min-width: 44px;
    padding: 1px;
    background-clip: content-box;
    border-radius: 9999px;
    box-shadow: inset 0 0 0 1px @borders;
}
.themeswitcher checkbutton.system {
  background: linear-gradient(-45deg, #2d2d2d 49.99%, white 50.01%);
}
.themeswitcher checkbutton.light {
  background-color: white;
}
.themeswitcher checkbutton.sepia {
  background-color: #F0E8DD;
}
.themeswitcher checkbutton.dark {
  background-color: #2d2d2d;
}

.themeswitcher checkbutton.light:checked,
.themeswitcher checkbutton.dark:checked,
.themeswitcher checkbutton.sepia:checked,
.themeswitcher checkbutton.system:checked {
  box-shadow: inset 0 0 0 2px @accent_bg_color;
}

.themeswitcher checkbutton radio {
      -gtk-icon-source: none;
      border: none;
      background: none;
      box-shadow: none;
      min-width: 12px;
      min-height: 12px;
      transform: translate(27px, 14px);
      padding: 2px;
}
.themeswitcher checkbutton radio:checked{
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}


.preview_button_left:dir(ltr):checked{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-style: none;
}
.preview_button_left:dir(rtl):checked{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left-style: none;
}

.preview_button_right:dir(ltr) button{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.preview_button_right:dir(rtl) button{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Recents */

.open-popover contents {
  padding: 0;
}
.open-popover list {
  background: none;
  margin-bottom: 3px;
}
.open-popover list label.placeholder {
  min-height: 57px;
}
.open-popover list row {
  border-radius: 9px;
  margin: 3px 6px;
}
.open-popover list row:first-child {
  margin-top: 6px;
}
.open-popover list row button {
  padding: 3px;
  margin: 0;
  min-height: 24px;
  min-width: 24px;
}
.open-popover separator {
  margin-bottom: 0;
}

/* Preview */

.preview-background {
  background-color: @preview_bg_color;
}

/* Table insertion toolbar widget */

.tableinput button {
  border-radius: 0;
  box-shadow: inset 0 0 0 1px alpha(currentColor, .05);
}

.tableinput button:first-child:dir(ltr) {
  border-top-left-radius: 6px;
}
.tableinput button:last-child:dir(ltr) {
  border-bottom-right-radius: 6px;
}
.tableinput button.top-end:dir(ltr) {
  border-top-right-radius: 6px;
}
.tableinput button.bottom-start:dir(ltr) {
  border-bottom-left-radius: 6px;
}

.tableinput button:first-child:dir(rtl) {
  border-top-right-radius: 6px;
}
.tableinput button:last-child:dir(rtl) {
  border-bottom-left-radius: 6px;
}
.tableinput button.top-end:dir(rtl) {
  border-top-left-radius: 6px;
}
.tableinput button.bottom-start:dir(rtl) {
  border-bottom-right-radius: 6px;
}

.tableinput .hovered {
  background: alpha(@accent_color, .30);
}

.tableinput label{
  font-size: 2em;
  font-variant-numeric: tabular-nums;
  font-weight: bold;
}

.toolbars.top {
  box-shadow: 0 1px alpha(@headerbar_shade_color, .5),
              0 2px 4px alpha(@headerbar_shade_color, .5);
  background-color: @headerbar_bg_color;
  color: @headerbar_fg_color;
  padding-bottom: 3px;
}

.toolbars.top:backdrop {
  background-color: @headerbar_backdrop_color;
  transition: background-color 200ms ease-out;
}

.toolbars.top headerbar {
  background: none;
  color: inherit;
  box-shadow: none;
  min-height: 43px;
}

.toolbars.top headerbar > windowhandle > box {
  padding-bottom: 3px;
}

.toolbars.top searchbar > revealer > box {
  background: none;
  color: inherit;
  box-shadow: none;
  padding-top: 3px;
  padding-bottom: 3px;
}

separator.sidebar {
  background: alpha(@sidebar_border_color, 1.5);
}

/* Pride flags */
progressbar.flag-pride progress {
  background: linear-gradient(to right,
      #E40303,
      #FF8C00,
      #FFED00,
      #008026,
      #24408E,
      #732982);
}

progressbar.flag-trans progress {
  background: linear-gradient(to right,
      #5BCEFA,
      #F5A9B8,
      #FFFFFF,
      #F5A9B8,
      #5BCEFA);
}

progressbar.flag-aro progress {
  background: linear-gradient(to right,
      #3da542,
      #a8d377,
      #fefefe,
      #a9a9a9,
      #000000);
}

progressbar.flag-ace progress {
  background: linear-gradient(to right,
      #000000,
      #A3A3A3,
      #FFFFFF,
      #800080);
}

progressbar.flag-bi progress {
  background: linear-gradient(to right,
      #D60270 20%,
      #9B4F96 40%,
      #0038A8 60%);
}

progressbar.flag-intersex progress {
  background: linear-gradient(to right,
      #FFD800,
      #7902AA);
}

progressbar.flag-lesbian progress {
  background: linear-gradient(to right,
      #D52D00,
      #EF7627,
      #FF9A56,
      #FFFFFF,
      #D162A4,
      #B55690,
      #A30262);
}

progressbar.flag-disability progress {
  background: linear-gradient(to right,
      #585858 20%,
      #CF7280 30%,
      #EEDF77 40%,
      #E9E9E9 50%,
      #7AC1E0 60%,
      #3AAF7D 70%,
      #585858 80%);
}

progressbar.flag-black-history progress {
  background: linear-gradient(to right,
      #000000,
      #c31f1e,
      #f9ca00,
      #1c6935);
}

progressbar.flag-aids progress {
  background: linear-gradient(to right,
      #ffffff,
      #d11113,
      #ffffff,
      #d11113,
      #ffffff);
}

progressbar.flag-autism progress {
  background: linear-gradient(to right,
      #e53043 10%,
      #f68347 25%,
      #fac857 40%,
      #fac857 60%,
      #99d671 75%,
      #21ae75 90%);
}

progressbar.flag-non-binary progress {
  background: linear-gradient(to right,
      #fff534,
      #ffffff,
      #995acf,
      #2e2e2e);
}

progressbar.flag-pan progress {
  background: linear-gradient(to right,
      #ff218c,
      #ffd800,
      #21b1ff);
}
